<h2>Please enter the new event information:</h2>

<form action="/change_event/<%= params["x"] %>">
  <input type="text" placeholder="Enter name" name="name" value="<%= @entry.name %>">
  <input type="number" placeholder="Enter application id" name="application_id" value="<%= @entry.application_id %>">
  <input type="number" placeholder="Enter date" name="date" value="<%= @entry.date %>">
  <input type="text" placeholder="Check in time" name="check_in_time" value="<%= @entry.check_in_time %>">
  <input type="number" placeholder="Enter location ID" name="locations_id" value="<%= @entry.locations_id %>">
  <input type="text" placeholder="ammenities" name="ammenities" value="<%= @entry.ammenities %>">
  <input type="text" placeholder="Contact email address" name="contact_email" value="<%= @entry.contact_email %>">
  <input type="text" placeholder="Contact phone" name="contact_phone" value="<%= @entry.contact_phone %>">
  
  <input type="submit">
</form>

