<h2>Here are your locations in alphabetical order by City:</h2>


<table>
  <tr>
    <th>ID</th>
    <th>City</th>
    <th>State</th>
    <th>Address</th>
  </tr>
  <% Location.sorted.each do |location| %>
  <tr>
    <td>
      <a href="/view_location/<%= location.id %>">
        <%= location.id %>
      </a>
    </td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.address %></td>
  </tr>
  <% end %>
</table>