<h2>Click the application you would like to delete:</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Event Id</th>
    <th>Application Fee</th>
    <th>Event Fee</th>
    <th>Submitted?</th>
    <th>Accepted?</th>
    <th>Due Date</th>
    <th>Location Id</th>
    <th>Application Details</th>  
  </tr>
  <% Application.all_sorted_by_date.each do |app| %>
  <tr>
    <td>
      <a href="/delete_app/<%= app.id %>">
        <%= app.id %>
      </a>
    </td>
    <td><%= app.events_id %></td>
    <td><%= app.application_fee %></td>
    <td><%= app.event_fee %></td>
    <td><%= app.submitted %></td>
    <td><%= app.accepted %></td>
    <td><%= app.due_date %></td>
    <td><%= app.locations_id %></td>
    <td><%= app.application_details %></td>
  </tr>
  <% end %>
</table>