<h2>Click the travel plans you would like to view:</h2>


  <table>
    <tr>
      <th>ID</th>
      <th>Event Name</th>
      <th>City</th>
      <th>Event Date</th>
    </tr>
  <% @travel.each do |travel| %>
    <tr>
      <td>
        <a href="/view_travel/<%= travel["id"] %>"> 
          <%= travel["id"] %>
        </a>
      </td>
      <td><%= travel["name"] %></td>
      <td><%= travel["city"] %></td>
      <td><%= travel["event_date"] %></td>
    </tr>
    <% end %>
  </table>
  
