<h2>Please enter the new travel plan information:</h2>

<form action="/change_travel/<%= params["x"] %>">
  <input type="number" placeholder="Enter event ID" name="events_id" value="<%= @entry.events_id %>">
  <input type="number" placeholder="Enter location ID" name="locations_id" value="<%= @entry.locations_id %>">
  <input type="text" placeholder="transportation info" name="transportation" value="<%= @entry.transportation %>">
  <input type="text" placeholder="departure info" name="departure_info" value="<%= @entry.departure_info %>">
  <input type="text" placeholder="arrival info" name="arrival_info" value="<%= @entry.arrival_info %>">
  <input type="text" placeholder="hotel info" name="hotel_info" value="<%= @entry.hotel_info %>">
  <input type="text" placeholder="check in time" name="check_in_time" value="<%= @entry.check_in_time %>">
  
  <input type="submit">
</form>

<h3>Event List</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Event Name</th>
    <th>Application ID</th>
    <th>Event Date</th>
    <th>Check In Time</th>
    <th>Location Id</th>
    <th>Ammenities</th>
    <th>Contact Email</th>
    <th>Contact Phone</th>  
  </tr>
  <% Event.all_sorted_by_date.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= event.name %></td>
    <td><%= event.applications_id %></td>
    <td><%= event.event_date %></td>
    <td><%= event.check_in_time %></td>
    <td><%= event.locations_id %></td>
    <td><%= event.ammenities %></td>
    <td><%= event.contact_email %></td>
    <td><%= event.contact_phone %></td>
  </tr>
  <% end %>
</table>



<h3>Location List</h3>
<table>
  <tr>
    <th>ID</th>
    <th>City</th>
    <th>State</th>
    <th>Address</th>
  </tr>
  <% Location.sorted.each do |location| %>
  <tr>
    <td><%= location.id %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.address %></td>
  </tr>
  <% end %>
</table>

<a href="/home">Main Menu</a>