<h2>Please enter the new travel plan information:</h2>

<form action="/change_travel/<%= params["x"] %>">
  <input type="number" placeholder="Enter event ID" name="events_id" value="<%= @entry.events_id %>">
  <input type="number" placeholder="Enter location ID" name="locations_id" value="<%= @entry.locations_id %>">
  <input type="text" placeholder="transportation info" name="transportation" value="<%= @entry.transportation %>">
  <input type="text" placeholder="departure info" name="departure_info" value="<%= @entry.departure_info %>">
  <input type="text" placeholder="arrival info" name="arrival_info" value="<%= @entry.arrival_info %>">
  <input type="text" placeholder="hotel info" name="hotel_info" value="<%= @entry.hotel_info %>">
  <input type="text" placeholder="check in time" name="check_in_time" value="<%= @entry.check_in_time %>">
  
  <input type="submit">
</form>

